<!DOCTYPE html>
<html>

<head>
    <% include ../static/partials/head.ejs %>
</head>

<body>
    <% include ../static/partials/navbar.ejs %>

        <main>
            <form action="/criteria/create" method="post">
                <div class = "container" id ="activity-list">
                <select required class="dropdown-list" name="activity">
                    <option value = "0" disabled selected>What are your plans?</option>
                    <option value="Work">Work</option>
                    <option value="Shopping">Shopping</option>
                    <option value="School">School</option>
                    <option value="Brunch">Brunch</option>
                    <option value="Hike">Hike</option>
                    <option value="Sporting event">Sporting event</option>
                    <option value="Hosting company">Hosting company</option>
                    <option value="Dinner">Dinner</option>
                    <option value="Out with friends">Out with friends</option>
                </select>
            </div>
            <div class = "container"  id ="dresscode-list">
                <select required class="dropdown-list" name = "dresscode">
                    <option value = "0" disabled selected>What is the dress code?</option>
                    <option value="Casual">Casual</option>
                    <option value="Professional">Professional</option>
                    <option value="Business casual">Business casual</option>
                    <option value="Formal">Formal</option>
                    <option value="Active">Active</option>
                    <option value="Dressy casual">Dressy casual</option>
                </select>
            </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>


        </main>

        <% include ../static/partials/baseScripts.ejs %>

</body>

</html>