body {
    padding-top: 54px;
    background-image: url("http://i63.tinypic.com/35d4wux.jpg");
    text-align: center;
    color: white;
}

.dropdown-list {
    padding: 16px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    display: inline-block;

}

#activity-list, #dresscode-list {
    padding: 20px;
}