<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <h3>What's the weather today?</h3>

      <form action="/weather/create" method="post">
        <div class="form-group">
          <textarea rows="1" class="col-xs-2" name="zipCode" placeholder="Enter Zip Code"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>