<!DOCTYPE html>
<html>

<head>
  <% include ../static/partials/head.ejs %>
</head>

<body>
  <% include ../static/partials/navbar.ejs %>

    <main>

      <div class="container">
        <h1>Weather:</h1>
        <h1>
          <%= weather.city %>
        </h1>
        <h2>
          <%= weather.temperature %>°F</h2>
        <p>Conditions:
          <%= weather.conditions %>
        </p>
        <p>Wind:
          <%= weather.wind %>mph</p>
      </div>
      <div class="dropdown show">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            What are your plans for today?
          </a>
        
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li class="dropdown-item">Work</li>
            <li class="dropdown-item">Brunch</li>
            <li class="dropdown-item">Hike</li>
            <li class="dropdown-item">Sporting Event</li>
            <li class="dropdown-item">Shopping</li>
            <li class="dropdown-item">Dinner</li>
            <li class="dropdown-item">Hosting Company</li>
          </ul>
        </div>

      </div>
    </main>

    <% include ../static/partials/baseScripts.ejs %>

</body>

</html>