<!DOCTYPE html>
<html lang = "en">
    <head>
        <% include ./partials/head.ejs %>

    </head>
    <body>
        <% include ./partials/navbar.ejs %>

        <h3>Nothing to wear?</h3>

        <a href= "/weather/new" class = "btn btn-primary">Let's get started...</a>

    <% include ./partials/baseScripts.ejs %>
    </body>
    
</html>